* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* inizio common */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-sx {
    float: left;
}

.float-dx {
    float: right;
}

.w-100 {
    width: 100%;
}

.w-70 {
    width: 70%;
    margin: auto;
}

.w-60 {
    width: 60%;
    margin: auto;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

.mt-150{
    margin-top: 150px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pt-40 {
    padding-top: 40px;
}

.btn {
    text-decoration: none;
}

.btn:hover {
    opacity: 0.8;
}

.blu{
    background-color: #0061ff;
    color: white;
}

.blu-stnd{
    padding: 10px 20px;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

.underline {
    text-decoration: underline;
}

a.acq, .fa-check {
    color:  #0061ff;
}
a.acq:hover {
    text-decoration: none;
}

.btn-black a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    background-color: white;
}
.btn-black a:hover {
    background-color:#f1f1f1;
}


/* fine common */


/* inizio header */

header {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    font-size: 20px;
    background-color: white;
    border-bottom: 1px solid #d0d0d3;
}

header .logo img{
    height: 25px;
    margin: calc((80px - 25px)/ 2);
}

header nav li {
    line-height: 78px;
    margin: 0 20px;
}

header .inizia {
    margin: 27px;
}

header .inizia a {
    padding: 5px 20px;

}

header nav a {
    text-decoration: none;
    color: black;
}

header nav li:hover {
    border-bottom: 2px solid black;
}


/* fine header */

/* inizio jumbotron */

.jumbotron {
    margin-top: 80px;
    font-size: 20px;
    line-height: 1.6;
    background-color: #b4d0e7;
}

.jumbotron .title1 h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 70px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.jumbotron .w-70 .jumbo-sx {
    width: 30%;
}
.jumbotron .jumbo-sx .prova {
    margin-bottom: 20px;
}

.jumbotron .jumbo-sx a {


}

.jumbotron .jumbo-sx .annulla {
    font-size: 16px;
}

.jumbotron .jumbo-sx .arrow-down i {
    font-size: 50px;
    margin: 30px 0 60px 0;
    color: black;
}

.jumbotron .w-70 .jumbo-dx {
    width: 68%;
    margin-bottom: -100px;
}

.jumbotron .w-70 .jumbo-dx img {
    width: 100%;
}

/* fine jumbotron */

/* inizio main */


main .center {
    margin-left: 5%;
    margin-right: 5%;
}

/* inizio main piani */

main {
    font-size: 20px;
}

.piani label {
    display: inline-block;
}

.rw2 {
    margin-left: 20px;
}

.grey {
    color: #bfbfbf;
}

/* inizio radiobox */
.radioview {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    user-select: none;
}
/* Hide the browser's default radio button */
.radioview input {
    position: absolute;
    /* left: 0;  riposizionamento click */
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #b8b8b8;
}
/* When the radio button is checked, add a blue background */
.radioview input:checked ~ .checkmark {
    background-color: #0061ff;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  /* Show the indicator (dot/circle) when checked */
.radioview input:checked ~ .checkmark:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.radioview .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/* fine radiobox */

/* inizio riga piani */
/* inizio colonna sinistra */

.piani .general .line i {
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
}
.piani .general .line p {
    display: inline-block;
    width: 90%;
}

.piani .row .border {
    height: 880px;
}

.row .w-30.border, .enterprise {
    border: 1px solid #d0d0d3;
}

.row .w-30 .top, .enterprise .top {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
}

.row .general, .enterprise .general {
    padding: 25px;
}

.row .general h3, .enterprise h3, .esegui h3 {
    margin-bottom: 25px;
}

.row .general .line, .row .general > p, .enterprise p, .contatto .testo p {
    margin: 25px 0;
    font-size: 16px;
}

.row .general hr {
    margin: 25px 0;
}

main section .general hr {
    width: 80px;
}

/* fine colonna sinistra */

/* inizio riga enterprise */
.enterprise .general {
    position: relative;
}

.enterprise .contatta {
    position: absolute;
    top: 35px;
    right: 35px;
}

/* fine riga enterprise */
/* fine main piani */

/* inizio contatto */

.contatto img {
    width: 100%;
}

.contatto {
    position: relative;
}

.contatto .testo {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    line-height: 1.6;
}

.contatto div.btn-black {
    margin-top: 50px;
}

.contatto .btn-black a {
    border: 1px solid black;
}

/* fine contatto */

/* inizio esegui */

.esegui img {
    width: 100%;
}

.esegui p {
    line-height: 1.6;
}

.scopri {
    color:  #0061ff;
}

main .scopri:hover {
    text-decoration: none;
}

/* fine esegui */

/* inizio team */

/* tutte img team */
.team .various img {
    width: 150px;
}

.team .various {
    height: 30vw;
    width: 100vw;
}

.team .various .sx, .team .various .dx {
    width: 30vw;
    height: 30vw;
}

.team .various .sx div, .team .various .dx div {
    position: relative;
    height: 15vw;
    width: 15vw;
} 

.team .various .sx img, .team .various .dx img {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* da sistemare */
}

/* background color left */
.team .various .designit {
    background-color: #A2D39B;
}

.team .various .asu {
    background-color: #61082B;
}

.team .various .uf {
    background-color: #0093CE;
}

.team .various .topps {
    background-color: #FF1C1C;
}
/* fine background color left */



.team .various .center {
    height: 30vw;
    width: 40vw;
    overflow: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 60px;
    background-color: #f5f5f5;
}


.team .various .center hr {
    width: 75px;
    margin-top: 30px;
    margin-bottom: 90px;
}

.team .various .center p:last-child {
    margin-top: 90px;
}

/* background color right */
.team .various .wbr {
    background-color:#D5001F;
}

.team .various .hearst {
    background-color: #B4D0E7;
}

.team .various .lonely {
    background-color:#0D2481;
}

.team .various .clear {
    background-color: #FFD830;
}
/* fine background color right */

.team .porta {
    position: relative;
    height: 15vw;
    background-color: #B4D0E7;
}

.team .porta .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.team .porta .container * {
    display: inline-block;
}

.team .porta .container h2 {
    color: #61082b;
    margin-right: 140px;
    margin-bottom: 0; /* annullo proprietà comune */s
}

.team .porta .container .btn-black {
    vertical-align: top;
}


/* fine team */
/* fine main */

/* inizio footer */



/* fine footer */



