* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* inizio common */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.float-sx {
    float: left;
}

.float-dx {
    float: right;
}

.w-100 {
    width: 100%;
}

.w-70 {
    width: 70%;
    margin: auto;
}

.w-60 {
    width: 60%;
    margin: auto;
}

.w-50 {
    width: 50%;
}

.w-40 {
    width: 40%;
}

.w-30 {
    width: 30%;
}

.w-20 {
    width: 20%;
}

section.sec1{
    margin-top: 150px;
}

.mt-40 {
    margin-top: 40px;
}

.pt-40 {
    padding-top: 40px;
}

.btn {
    text-decoration: none;
}

.btn:hover {
    opacity: 0.8;
}

.blu{
    background-color: #0061ff;
    color: white;
}

.blu-stnd{
    padding: 10px 20px;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
}

h5 {
    font-size: 20px;
}

a.acq {
    color:  #0061ff;
}
a.acq:hover {
    text-decoration: none;
}

/* fine common */


/* inizio header */

header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 20px;
    background-color: white;
    border-bottom: 1px solid #d0d0d3;
}

header .logo img{
    height: 25px;
    margin: calc((80px - 25px)/ 2);
}

header nav li {
    line-height: 78px;
    margin: 0 20px;
}

header .inizia {
    margin: 27px;
}

header .inizia a {
    padding: 5px 20px;

}

header nav a {
    text-decoration: none;
    color: black;
}

header nav li:hover {
    border-bottom: 2px solid black;
}


/* fine header */

/* inizio jumbotron */

.jumbotron {
    margin-top: 80px;
    font-size: 20px;
    line-height: 1.6;
    background-color: #b4d0e7;
}

.jumbotron .title1 h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 70px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.jumbotron .w-70 .jumbo-sx {
    width: 30%;
}
.jumbotron .jumbo-sx .prova {
    margin-bottom: 20px;
}

.jumbotron .jumbo-sx a {


}

.jumbotron .jumbo-sx .annulla {
    font-size: 16px;
}

.jumbotron .jumbo-sx .arrow-down i {
    font-size: 50px;
    margin: 30px 0 60px 0;
    color: black;
}

.jumbotron .w-70 .jumbo-dx {
    width: 68%;
    margin-bottom: -100px;
}

.jumbotron .w-70 .jumbo-dx img {
    width: 100%;
}

/* fine jumbotron */

/* inizio main */


main .center {
    margin-left: 5%;
    margin-right: 5%;
}

/* inizio main piani */

main {
    font-size: 20px;
}

.piani label {
    display: inline-block;
}

.rw2 {
    margin-left: 20px;
}

.grey {
    color: #bfbfbf;
}

/* inizio radiobox */
.radioview {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 25px;
    cursor: pointer;
    user-select: none;
}
/* Hide the browser's default radio button */
.radioview input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #b8b8b8;
}
/* When the radio button is checked, add a blue background */
.radioview input:checked ~ .checkmark {
    background-color: #0061ff;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  /* Show the indicator (dot/circle) when checked */
.radioview input:checked ~ .checkmark:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.radioview .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/* fine radiobox */

/* inizio riga piani */
/* inizio colonna sinistra */

.row .w-30 {
    border: 1px solid #d0d0d3;
}

.row .w-30 .top {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #d0d0d3;
}

.row .general {
    padding: 25px;
}

.row .general h3 {
    margin-bottom: 25px;
}

.row .general p {
    margin: 25px 0;
    font-size: 16px;
}

.row .general hr {
    margin: 25px 0;
}

main section .general hr {
    width: 80px;
}

/* fine colonna sinistra */


/* fine main piani */

/* fine main */

/* inizio footer */



/* fine footer */

/* inizio debug */

.debug main section {
    /* margin-top: 150px; */
    /* background-color: lightgreen; */
    /* border: 1px solid black; */

}

.debug .team, .debug .faq {
    height: 500px;
}

.debug footer {
    height: 500px;
    background-color: grey;
    margin-top: 150px;
}

.debug main .piani .float-sx {
    /* height: 200px; */
    /* border: 1px solid black; */
}

.debug main .piani .enterprise, .piu {
    background-color: lightseagreen;
    height: 200px;
    border: 1px solid black;
}

.debug main section .img-raga, .debug main section .testo{
    background-color: rgb(178, 32, 154);
    height: 200px;
    border: 1px solid black;
}

.debug main .esegui .top {
    background-color: lightpink;
    height: 100px;
}

.debug main .esegui .float-sx {
    height: 200px;
    border: 1px solid black;
}

.debug footer div div{
    height: 150px;
    background-color: lightyellow;
    border: 1px solid black;
}

/* fine debug */




