* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* inizio common */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.float-sx {
    float: left;
}

.float-dx {
    float: right;
}


.w-70 {
    width: 70%;
    margin: auto;
}

.btn {
    text-decoration: none;
}

.btn:hover {
    opacity: 0.8;
}

.blu{
    background-color: #0061ff;
    color: white;

}

li {
    list-style-type: none;
}

/* fine common */


/* inizio header */

header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    font-size: 20px;
}

header .logo img{
    height: 25px;
    margin: calc((80px - 25px)/ 2);
}

header nav li {
    line-height: 78px;
    margin: 0 20px;
}

header .inizia {
    margin: 27px;
}

header .inizia a {
    padding: 5px 20px;

}

header nav a {
    text-decoration: none;
    color: black;
}

header nav li:hover {
    border-bottom: 2px solid black;
}


/* fine header */

/* inizio jumbotron */

.jumbotron {
    margin-top: 80px;
    font-size: 20px;
    line-height: 1.6;
    background-color: #b4d0e7;
}

.jumbotron .title1 h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 70px;
    line-height: 1.6;
    margin-top: 40px;
    margin-bottom: 30px;
}

.jumbotron .w-70 .jumbo-sx {
    width: 30%;
}
.jumbotron .jumbo-sx .prova {
    margin: 40px 0 20px 0;
}

.jumbotron .jumbo-sx a {
    padding: 10px 20px;

}

.jumbotron .jumbo-sx .annulla {
    font-size: 16px;
}

.jumbotron .jumbo-sx .arrow-down i {
    font-size: 50px;
    margin: 30px 0 60px 0;
}

.jumbotron .w-70 .jumbo-dx {
    width: 68%;
    height: 450px;
}


/* fine jumbotron */

/* inizio debug */

/* .debug header {
    background-color: aqua;
    border: 1px solid black;
} */

/* .debug header .inizia {
    background-color: blue;
    border: 1px solid black;

    width: 120px;
} */



/* .debug header .nav-sx li, .debug header .nav-dx li {
    background-color: green;
    border: 1px solid black;
    height: 80px;
    width: 120px;

} */

/* .debug .jumbotron .w-70 {
    height: 600px;
    background-color: orange;
    border: 1px solid black;    
} */

/* .debug .jumbotron .title1 {
    width: 100%;
    height: 100px;
    background-color: red;
    border: 1px solid black;   
} */

 /* .debug .jumbotron .w-70 .jumbo-dx {

    background-color: yellow;
    border: 1px solid black;

} */



/* fine debug */




